.footer {

    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 20px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#99bbf1+0,a4cdf8+49,b3d6f7+50,bdddf9+100 */
    background: rgb(153,187,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(153,187,241,1) 0%, rgba(164,205,248,1) 49%, rgba(179,214,247,1) 50%, rgba(189,221,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(153,187,241,1) 0%,rgba(164,205,248,1) 49%,rgba(179,214,247,1) 50%,rgba(189,221,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(153,187,241,1) 0%,rgba(164,205,248,1) 49%,rgba(179,214,247,1) 50%,rgba(189,221,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bbf1', endColorstr='#bdddf9',GradientType=0 ); /* IE6-9 */

    .message {
        line-height: 20px;
        padding: 0 20px;
        font-size: 12px;
        text-overflow: ellipsis;
    }
}