<div class="header">
    <ol>
        <li 
            *ngFor="let path of paths" 
            (click)="pathClicked(path)" 
            (dragover)="onDragOver($event)" 
            (drop)="onDrop($event, path)"
        >
            {{ path.name }}
        </li>
    </ol>
    <ol class="right-options">
        <li>
            <select [value]="currentSortOption" (change)="sortChanged($event)">
                <option value="name-asc">Name (A–Z)</option>
                <option value="name-desc">Name (Z–A)</option>
                <option value="views-desc">Views (High → Low)</option>
                <option value="views-asc">Views (Low → High)</option>
                <option value="createdAt-desc">Newest</option>
                <option value="createdAt-asc">Oldest</option>
                <option value="lastViewed-desc">Last Viewed (Recent → Old)</option>
                <option value="lastViewed-asc">Last Viewed (Old → Recent)</option>
                <option value="spice-desc">Spice!</option>
            </select>
        </li>
        <li *ngIf="showNewFolder" (click)="newFolder()" title="New Folder">📁</li>
        <li *ngIf="showUpload" (click)="upload()" title="Upload">⬆️</li>
        <li class="settings-dropdown" (click)="toggleSettingsDropdown()" title="Settings">
            ⚙️
            <ul class="dropdown" *ngIf="showSettings">
                <li (click)="toggleLogDialog($event)">💻 View Server Logs</li>
                <li (click)="logout($event)">🚪 Logout</li>
                <li (click)="clearMetadata($event)">🧹 Clear All Metadata</li>
            </ul>
        </li>
    </ol>
</div>
<app-server-log-dialog *ngIf="showLogDialog" (close)="showLogDialog = false"></app-server-log-dialog>