<div class="grid-item" 
    draggable="true" 
    (dragstart)="onDragStart($event)">
    <div 
        [hidden]="videoPlaying"
        class="preview"
        [ngStyle]="{ 
            'background-image': 'url(\'' + previewImageUrl + '\')',
            'width.px': video.thumbnail.width > 0 ? video.thumbnail.width : 200,
            'height.px': video.thumbnail.height > 0 ? video.thumbnail.height : 200,
            'background-position-x.px': backgroundPositionX * -1,
            'background-position-y.px': backgroundPositionY * -1,
            'maxHeight.px': maxHeight
        }"
        (mousemove)="onMouseMove($event)"
        (mouseover)="onMouseOver($event)"
        (mouseout)="onMouseOut($event)"
        (click)="onPreviewClick($event)"
    >
        <div 
            [hidden]="scrubbingEnabledForThumbnail || scrubbingEnabledForPlay"
            [class]="'resolution-badge r' + video.resolutionClass"
            (click)="onBadgeClick($event)"
        >{{ video.resolutionClass }}</div>

        <div *ngIf="canDelete" [hidden]="!canShowDeleteIcon()" class="delete" (click)="deleteRequest($event)">❌</div>
    </div>
    <div class="video-wrapper" [hidden]="!videoPlaying" [style.maxHeight.px]="video.thumbnail.height">
        <video 
            #videoElement
            
            [src]="videoUrl"
            [width]="video.thumbnail.width"
            [height]="video.thumbnail.height"
            preload="metadata"
            type="video/mp4"
            (keydown)="onKeyDown($event)"
            controls
            [ngStyle]="{'object-fit': fillScreen ? 'cover' : 'contain'}"
        >
        </video>
        <app-video-caption [message]="videoCaption"></app-video-caption>
    </div>

    <div class="grid-item-footer" (click)="onFooterClick($event)">
        <div class="details-row" *ngIf="!scrubbingEnabledForThumbnail && !scrubbingEnabledForPlay">
            <span class="name">{{ video.name }}</span>
            <span>{{ duration }}</span>
        </div>
        <div *ngIf="scrubbingEnabledForThumbnail">
            Scrubbing: Click to set thumbnail
        </div>
        <div *ngIf="scrubbingEnabledForPlay">
            Scrubbing: Click to begin play
        </div>
        <div class="icon-row">
            <div class="left-icons">
                <div title="Spice!" class="show-on-footer-hover" (click)="onSpiceClick($event)">🚀</div>
                <div title="Scrub to Play" class="show-on-footer-hover">🎯</div>
                <div title="Set Thumbnail" class="show-on-footer-hover" (click)="onBadgeClick($event)">🖼️</div>
                <div 
                    class="info-icon-wrapper show-on-footer-hover"
                    (click)="$event.stopPropagation()"
                    (mouseover)="showMetadata = true"
                    (mouseout)="showMetadata = false"
                    >
                    ℹ️
                    <div class="metadata-popup" *ngIf="showMetadata" (click)="$event.stopPropagation()">
                        <div><strong>Created:</strong> {{ getCreatedAgo() }}</div>
                        <div><strong>Last Viewed:</strong> {{ getLastOpenedAgo() }}</div>
                    </div>
                </div>
            </div>
            <div class="right-icons">
                <div>{{ video.metadata?.spice }} <span class="emoji-grayscale">🚀</span></div>
                <div>{{ video.metadata?.views }} <span class="emoji-grayscale">▶️</span></div>
            </div>
        </div>
    </div>
</div>