<div *ngIf="listing; else loading">
    <app-header 
        [path]="listing.path"
        [currentPath]="currentPath"
        [sortOption]="currentSort"
        (onPathClicked)="pathClicked($event)"
        (onLogoutClicked)="logout()"
        (onUploadClicked)="upload($event)"
        (onNewFolderClicked)="openInputModal($event)"
        (onMoveRequest)="onMoveRequest($event)"
        (onSortChanged)="handleSortChanged($event)"
    ></app-header>
    <app-grid 
        [listing]="listing"
        [movedItem]="movedItem"
        (onUploadClicked)="upload($event)"
        (onFolderClick)="folderClicked($event)"
        (onImageClick)="imageClicked($event)"
        (onDeleteRequest)="onDeleteRequest($event)"
        (onMoveRequest)="onMoveRequest($event)"
        (onRenameClickedRequest)="openInputModal($event)"
    >
    </app-grid>
    <app-footer *ngIf="showFooter"></app-footer>
    <app-image-gallery *ngIf="galleryActive"
        [path]="listing.path" 
        [images]="listing.images"
        [showImage]="imageToOpenGallery"
        (closeGalleryRequest)="onGalleryClose()"
    ></app-image-gallery>
    <app-upload *ngIf="uploadDialogActive"
        [uploadAction]="uploadAction"
        (closeUploadRequest)="onUploadClose()"
    ></app-upload>
    <app-input-modal
        *ngIf="showInputModal"
        [config]="inputModalConfig"
        (onClose)="showInputModal = false">
</app-input-modal>
</div>
<ng-template #loading>
    <div class="loading">
        <div class="lds-heart">
            <div></div>
        </div>
        <div class="caption">Loading</div>
    </div>
</ng-template>